/**
 * Trequant's Theme
 */

@import 'theme-sass/theme';

/**
 * Preloader
 */

.preloader .status {
	background-image: url(../images/trequant-loader.gif)
}

/**
 * Navbar collapse fix
 */

.navbar-nav.navbar-left {
	margin-left: 30px;
}

@media (max-width: 995px) {
	.navbar-nav.navbar-left {
		margin-left: auto;
	}
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        border: 0 !important;

        span.icon-grid-2x2 {
			font-size: 30px;
        }
    }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    	background-color: #fff;
    }

    .navbar-inverse .navbar-collapse {
    	border-color: rgba(49, 49, 49, 0.1);
    }

    .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    	margin-left: -15px;
    	margin-right: -15px;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
        display: inline-block;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}


/**
 * Section 1
 */

.header {
	background-color: rgb(12, 87, 143);
}

.sticky-navigation {
	font-size: 13px;
}

.sticky-navigation .navbar-brand img {
	max-width: none;
}

.sticky-navigation .main-navigation li {
	a {
		position: relative;
		font-size: 13px;
		transition: color 0.3s;
		font-weight: bold;

		&:after {
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 0;
			height: 5px;
			background-color: $tq-green;
			content: "";
			transition: width 0.3s;
		}
	}

	&.not-active a:after {
		width: 100%;
	}

	&.not-active a {
		color: $tq-green;
		font-weight: bold;
	}

	a:hover {
		color: $tq-green-h;
		font-weight: bold;
	}
}

.navbar-fixed-width-btn {
	width: 120px;
	margin-top: 17px;
	margin-bottom: 17px;
	margin-right: 10px;
}

.imac-image img {
	width: 100%;
	margin-top: 60px;
}

.intro-section {
	margin-top: 50px;
}

.transparent-bg {
	background: none;
}

.tq-btn-white {
	@include tq-button($tq-white, $tq-pink-red);
	color: $tq-pink-red !important;

	&:hover {
		color: $tq-white !important;
	}
}

.crossfade {
	opacity: 0.7;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

	&:hover {
		opacity: 1;
		.after {
			opacity: 0; }
	}

}

/* Sprite map for the logos in the strip */

.logo5, .logo0, .logo1, .logo2, .logo3, .logo4, .logo5b, .logo0b, .logo1b, .logo2b, .logo3b, .logo4b{
	background: url(../images/page1/sprites.png) no-repeat;
}

.logo5 { 
	@include tq-sprite(188px, 40px, -473px 0);
}

.logo0 { 
	@include tq-sprite(103px, 40px, -367px 0);
}

.logo1 { 
	@include tq-sprite(85px, 40px, -276px 0);
}

.logo2 { 
	@include tq-sprite(153px, 40px, -119px 0);
}

.logo3 { 
	@include tq-sprite(115px, 40px, 0 0);
}

.logo4 { 
	@include tq-sprite(89px, 40px, -665px 0);
}

.logo5b {
	@include tq-sprite(188px, 40px, -473px -51px );
}

.logo0b {
	@include tq-sprite(103px, 40px, -368px -52px );
}

.logo1b {
	@include tq-sprite(85px, 40px, -278px -51px );
}

.logo2b {
	@include tq-sprite(153px, 40px, -120px -50px );
}

.logo3b {
	@include tq-sprite(115px, 40px, 0 -49px );
}

.logo4b {
	@include tq-sprite(89px, 40px, -663px -47px );
}



/**
 * Section 2
 */

.tq-brief {
	background-image: url('../images/page2/bg.jpg');
	background-size: cover;
	position: relative;
	border-bottom: 1px solid #585E64;
}

.tq-brief-content-lg {
	font-size: 18px; 
	line-height: 32px;
	margin-top: 15px !important;
}

.tq-red-fg {
	color: $tq-pink-red; }

.tq-red-bg {
	background-color: $tq-pink-red; }

.tq-brief-img-left {
    position: absolute;
    left: 0;
    width: 48%;
    top: 0;
    bottom: 0;
    margin: auto;
}


/**
 * Section 3
 */

.tq-sec3-bg {
	background-color: #545454; }

.tq-blue-fg {
	color: $tq-sea-blue; }

.tq-blue-bg {
	background-color: $tq-sea-blue; }

.tq-line {
	height: 4px; }

.tq-sec3-icon {
	font-size: 16px !important;
	width: 40px;
	height: 40px;
	background: white;
	border-radius: 50%;
	padding-top: 9px;
	display: inline-block;
	color: $tq-sea-blue;
	transition: color 0.3s, background-color 0.3s;
}

.tq-sec3-feature {
	.description {
		width: 80%; }
	
	&:hover .tq-sec3-icon {
		background-color: $tq-green-h;
		color: white;
	}
}

@media (max-width: 991px) {
	.tq-sec3-feature .description {
		width: auto; }
}


/**
 * Section 4
 */

.gallery {
	position: relative;

 	img {
 		vertical-align: middle;
 	}
 	.owl-carousel {
 		height: 100%;
 		.owl-item, .item {
 			height: 100vh;
 		}
 		.owl-item img {
 			transform-style: initial;
 			height: 100%;
 			object-fit: cover;
 		}
 	}
 	.owl-thumb-item img {
 		width: 90px;
 		height: auto;
 	}
 	.owl-thumbs {
 		position: absolute;
 		bottom: 0;
 		left: 0;
 		display: table;
 		width: 100%;
 		text-align: center;
 		padding: 2.5%;
 	}
 	.owl-thumb-item {
 		display: table-cell;
 		border: none;
 		background: none;
 		padding: 0;
 		margin: 0 10px;
 		opacity: .4;
 		&.active {
 			opacity: 1;
 			border: 2px solid $tq-green;
 		}
 	}
 	.owl-controls {
 		display: none;
 	}
}

.trans-msg {
	position: absolute;
	width: 30%;
	max-width: 460px;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 30px 25px 30px;
	z-index: 10;
	
	p {
		text-align: justify;
	}
}

@media (max-width: 991px) {
	.trans-msg {
		top: 0;
		left: 0;
		right: 0;
		bottom: auto;
		height: auto;
		width: auto;
		max-width: none;

		p {
			text-align: center; }
	}
}


/**
 * Section 5
 */

.features {
	background: #B3B3B3;

	.border-left-colored {
		border-width: 0 0 0 2px;
	}

	.border-right-colored {
		border-width: 0 2px 0 0;
	}
}

@media (max-width: 991px) {
	.features .single-feature {
		width: 50%;
	}
}

@media (max-width: 680px) {
	.features .single-feature {
		width: auto;
	}
}


/**
 * Section 6
 */

.maajid, .maimoona, .danish{
	background: url(../images/page6/sprites.png) no-repeat;
}

.maajid{
	background-position: -111px 0;
	width: 54px;
	height: 54px;
}

.maimoona{
	background-position: -55px 0;
	width: 54px;
	height: 52px;
}

.danish{
	background-position: 0 0;
	width: 54px;
	height: 54px;
}



/**
 * Section 7
 */

.call-to-action
{
  background: url(../images/page2/bg.jpg) no-repeat center top fixed;
}


/**
 * Modal box
 */

.modal-content button {
	width: auto;
}