///////////////
// Font-face //
///////////////

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}


///////////
// Links //
///////////
@mixin tq-link($color, $colorHover) {
	color: $color;
	text-decoration: none !important;

	&:hover {
		color: $colorHover;
	}
}


//////////////////
// Button Mixin //
//////////////////
@mixin tq-button($color, $hoverColor) {
	border-radius: 5px;
	border: 1px solid $color;
	background-color: $color;
	color: $tq-white !important;

	&:hover {
		border-color: $hoverColor;
		background-color: $hoverColor;
	}
}


//////////////////////////
// Outline Button Mixin //
//////////////////////////
@mixin tq-button-o($color, $hoverColor) {
	border-radius: 5px;
	border: 2px solid $color;
	background-color: $tq-white;
	color: $color;

	&:hover {
		border-color: $hoverColor;
		background-color: $hoverColor;
		color: $tq-white;
	}
}


/////////////
// Sprites //
/////////////

@mixin tq-sprite($width, $height, $position) {
	background-position: $position;
	width: $width;
	height: $height;
}