/////////////////
// Color Codes //
/////////////////

$tq-white: #fff;

$tq-green: #1ab394;
$tq-green-h: #18a689;

$tq-sea-blue: #36bfc3;
$tq-sea-blue-h: #21b9bb;

$tq-pink-red: #ed5565;
$tq-pink-red-h: #ec4758;

$tq-grey: #c2c2c2;
$tq-grey-h: #bababa;

$tq-blue: #1c84c6;
$tq-blue-h: #1a7bb9;

$tq-yellow: #f8ac59;
$tq-yellow-h: #f7a54a;

$tq-grey1: #fafafa;

$tq-grey2: #f2f2f2;

$tq-grey3: #e6e6e6;

$tq-grey4: #b2b2b2;

$tq-grey5: #b3b3b3;

$tq-grey6: #fafafa;